@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400&display=swap');

$color__main: #b9acff;
$color__font_body: #8b8b8b;
$color__font_footer: #4a4a4a;
$font__sans: 'Noto Sans KR', helvetica, arial, sans-serif;

